[project]
	description = Support for adding OAuth1(a) and OAuth2 features (consumer and provider) for Spring web applications.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mohammad Salahuddin (roomisalah)
[access "refs/for/refs/*"]
	read = group user/Mohammad Salahuddin (roomisalah)
	push = group user/Mohammad Salahuddin (roomisalah)
	label-Code-Review = -2..+2 group user/Mohammad Salahuddin (roomisalah)
	label-Verified = -1..+1 group user/Mohammad Salahuddin (roomisalah)
	rebase = group user/Mohammad Salahuddin (roomisalah)
	removeReviewer = group user/Mohammad Salahuddin (roomisalah)
	submit = group user/Mohammad Salahuddin (roomisalah)
[access "refs/heads/*"]
	read = group user/Mohammad Salahuddin (roomisalah)
	create = group user/Mohammad Salahuddin (roomisalah)
	push = +force group user/Mohammad Salahuddin (roomisalah)
	pushMerge = group user/Mohammad Salahuddin (roomisalah)
[access "refs/tags/*"]
	push = +force group user/Mohammad Salahuddin (roomisalah)
	pushTag = group user/Mohammad Salahuddin (roomisalah)
	pushSignedTag = group user/Mohammad Salahuddin (roomisalah)
